<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <h1>Welcome to Game Center!</h1>
    <h3>Choose one of the games below to start playing.</h3>
  </div>

<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
      <div class="row">
        <div class="boxes">Rock paper sisscors</div>
       <div class="boxes">Connect 4</div>  
      </div>
  </div>
</div>

<div class="container">

<div class="row">

  <h1> connect 4 board </h1>
    <div class="board">
      <form class="form-horizontal">
      <ul class="column-1  text-center">
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <span class="connect-radio"><input type="radio" name="radios" value="1"></span>
      </ul>
      <ul class="column-1  text-center">
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <span class="connect-radio"><input type="radio" name="radios" value="2"></span>
      </ul>
      <ul class="column-1  text-center">
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <span class="connect-radio"><input type="radio" name="radios" value="3"></span>
      </ul>
      <ul class="column-1 text-center">
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <span class="connect-radio"><input type="radio" name="radios" value="4"></span>
      </ul>
      <ul class="column-1  text-center">
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <span class="connect-radio"><input type="radio" name="radios" value="5"></span>
      </ul>
      <ul class="column-1  text-center">
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <span class="connect-radio"><input type="radio" name="radios" value="6"></span>
      </ul>

      <ul class="column-1 text-center">
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <div class="spots"></div>
        <span class="connect-radio text-center"><input type="radio" name="radios" value="7"></span>
      </ul>

    </div>

  <!-- <div class="form-group connect-group"> -->
  
</form>

    

      <% display = @board.transpose %>
      <%= display.each {|i| p i } %>
      <h1>---------------------</h1>
      <%= 7.times.do |i| %>
      <% { |i| print "-"; print (i + 1 ); print ("-")} =>

  </div>

</div>
</div>